* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/*CSS from threejs-journey.com*/
.loading-bar {
    height: 20px;
    background: #333333;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.1s;
}
.loading{
    top: 50%;
    position: absolute;
    width: 100%;
}

#p_loading{
    margin-left: 20px;
    color: #888888;

}

.container{
    display: inline-block;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 3.5s steps(50, end) forwards, blinking .8s infinite;
    font-size: 1.6rem;
    width: 0;
}

.typed-out-long{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 8s steps(200, end) forwards, blinking .8s infinite;
    font-size: 1.6rem;
    width: 0;
}

#info {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 100px;
}

#info2 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 150px;
}

#info3 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 200px;
}

#info4 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 250px;
}

#info5 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 100px;
}

#info6 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 150px;
}

#info8 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 250px;
}

#info9 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 100px;
}

#info10 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 150px;
}

#info12 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display: block;
    margin-top: 200px;
}

#info13 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 300px;
}