*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#info {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 100px;
}

#info2 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 150px;
}

#info3 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 200px;
}

#info4 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 250px;
}

#info5 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 100px;
}

#info6 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 150px;
}

#info7 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 200px;
}

#info8 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 250px;
}

#info9 {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: white;
    background: black;
    font-size: 12px;
    text-align: left;
    z-index: 100;
    opacity: 0.5;
    display:block;
    margin-top: 100px;
}